
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Service Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.cssclsc'}">
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background:#e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container text-2xl"><h1>Welcome to Service Page</h1></div>

    
   
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>